
    <!-- end header section -->

    <%- include  ('../partials/_header');  %>
   
    <% if(user){ %>  
    <%  if (user.role === 'Admin') { %>    

    <div class="layout_padding2-bottom">
    
      <div id="overviews" class="section wb">
      
        <div class="container">
          <div class="row"> 
            <div class="col-lg-12 blog-post-single">					
              <div class="blog-author">
                <div class="author-bio">
                  <h3 class="author_name"><a href="#"> <%= user.name %></a></h3>   
                </div>
              </div>
            </div><!-- end col -->
          </div><!-- end row -->    

          <div class="row mt-5">
            <h2> Categories </h2>         
            <table class="table">
              <thead>
                <tr>
                <th scope="col">ID#</th>
                <th scope="col">Name</th>
                <th scope="col">Add</th>
                <th scope="col">Delete</th>
                </tr>
              </thead>
              
              <tbody>
                <% for (let i=0; i< categories.length; i++) { %>
                <tr>
                  
                <th scope="row"><%= categories[i]._id %></th>
                 <td><%= categories[i].name %></td>
               
                 <td><button class="btn btn-lg btn-primary rounded-0 text-white" href="#"
                  data-toggle="modal" data-target="#addCategory"><span>
                    ADD</span></button></td>
            
                
                  <td><a href="/categories/<%= categories[i]._id  %>?_method=DELETE" 
                  onclick="return confirm('ARE YOU SURE')"
                  class="btn btn-danger rounded-0 text-white"><span>DELETE</span></a></td>
                </tr>
             <% } %>
              </tbody>
              </table>
            
          </div><!-- end row mt-5 -->	
          
          <div class="row mt-5"> 
             <h2> Users </h2>        
            <table class="table">
              <thead>
                <tr>
                <th scope="col">ID#</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
            
                <% for (let i=0; i< allusers.length; i++) { %>
                <tr>
                <th scope="row"><%= allusers[i]._id %></th>
                <td><%= allusers[i].email %></td>
                <td><%= allusers[i].role %></td>
                <td><a href="/users/<%= allusers[i]._id %>?_method=DELETE" 
                  onclick="return confirm('ARE YOU SURE')"
                  class="btn btn-danger rounded-0 text-white"><span>DELETE</span></a></td>
                </tr>
             <% } %>
              </tbody>
              </table>
                  
          </div><!-- end row mt-5 -->	
 

 	<!-- ADD Modal Category -->
   <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
    <div class="modal-body customer-box">
      <br>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="Login">
          <form method="POST" action="/categories" class="form-horizontal">
            <div class="form-group">
              <div class="col-md-12">
                <input type="text" name="name" class="form-control"  placeholder="Category Name">
              </div>
            </div>
           
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-radius btn-brd grd1">
                  Submit
                </button>
                <button type="submit" class="btn btn-danger btn-radius btn-brd grd1"
                  data-dismiss="modal" aria-hidden="true">
                  Cancel
                </button>
              </div>          
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    </div>
</div>
 </div>
  </div><!--div-layout-padding-->

    <% } %> <!-- End Of Admin Section-->


          <% if(user.role === 'Seller' ){ %>  
       
            <div class="layout_padding2-bottom">
            <div class="row justify-content-center">   
            <button type="button" class="btn btn-info btn-lg " data-toggle="modal" data-target="#addProduct">Create Product</button>
            </div>
     
         <%  for (let categoriId in productsByCategory)  { %>
    
            <section class="cycle_section ">
      <div class="container">
        
        <div class="cycle_heading">
          <h3>
            <%=  productsByCategory[categoriId].categoryName %>
          </h3>
        </div>
       
        <div class="cycle_container">
     
          <%  productsByCategory[categoriId].products.forEach(product => {  %>

         
        <div class="box">
            <div class="box-content">
              <div class="img-box">
                <img class="object-fit-contain"  src="<%= product.image %>" width: "290px" height="180px">
              </div>
              <div class="detail-box" style="background-color: 
              #f4fff1  ; border: outset 1px #e4f1e0; border-radius: 5%; padding:0.5em">
          
              <div class="text">
                  <h6>
                    <%= product.name %>
                  </h6>
                  <h5>
                    <span>$</span> <%= product.price %>
                  </h5>
                </div>
                <div class="like">
                  <h6>
                  Size : <%= product.size %>
                  </h6>
                  <div class="star_container">
                 <span style="color:black"> Color : </span>   <span class="d-inline-block rounded-circle border" 
                    style="width: 23px; height: 23px; background-color: <%= product.color %>; border: 1px solid #ccc">
                     </span> 
                  </div>
                </div>
         
              </div>
             
            <div class="btn-box">
              <a href="/users/shopping/<%= product.id %>?_method=POST">
                Add To Cart
              </a>
            </div>
       
          </div>
        </div>
       
          <% }) %>     <!-- End Of Filter Section-->
        </div>
         </div>

                </section>
        <% } %>   <!-- End Of For Loop-->
    <% } %> <!-- End Of Seller Section-->

  <% }  else { %>  <!-- End Of User Section-->
    <div class="layout_padding2-bottom">
    <%  for (let categoriId in productsByCategory)  { %>
    
  <section class="cycle_section ">
<div class="container">
  
  <div class="cycle_heading">
    <h3>
      <%=  productsByCategory[categoriId].categoryName %>
    </h3>
  </div>
 
  <div class="cycle_container">

    <%  productsByCategory[categoriId].products.forEach(product => {  %>

   
  <div class="box">
      <div class="box-content">
        <div class="img-box">
          <img class="object-fit-contain"  src="<%= product.image %>" width: "290px" height="180px">
        </div>
        <div class="detail-box" style="background-color: 
        #f4fff1  ; border: outset 1px #e4f1e0; border-radius: 5%; padding:0.5em">
    
        <div class="text">
            <h6>
              <%= product.name %>
            </h6>
            <h5>
              <span>$</span> <%= product.price %>
            </h5>
          </div>
          <div class="like">
            <h6>
            Size : <%= product.size %>
            </h6>
            <div class="star_container">
           <span style="color:black"> Color : </span>   <span class="d-inline-block rounded-circle border" 
              style="width: 23px; height: 23px; background-color: <%= product.color %>; border: 1px solid #ccc">
               </span> 
            </div>
          </div>

   
        </div>
       
      <div class="btn-box">
        <a href="/users/shopping/<%= product.id %>">
          Add To Cart
        </a>
      </div>
 
    </div>
  </div>
 
    <% }) %>     <!-- End Of Filter Section-->
  </div>
   </div>
  
          </section>
  <% } %>
</div>
<% } %>

     <div class="modal fade" id="addProduct" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title"> Create Product</h6>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
           
          </div>
          <div class="modal-body">

            <form method ="POST"  action="/products " class="form-horizontal" encType="multipart/form-data">
          
              <div class="form-group">
               

                <div class="row">
                    <div class="col-12 col-md-4"> <label for="Category-name" class="col-form-label "> Category Type:</label></div>
                  <div class="input-group col-12 col-md-8  ">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect03">Options</label>
                    </div>
                    <select class="custom-select form-control" name="category" id="inputGroupSelect03">
                      <option selected>Choose...</option>
                   
                      <%  for( let i=0; i< categories.length; i++) { %>
                      
                        <option value="<%= categories[i]._id %>"><%= categories[i].name %></option>
                                    
                      <% } %> 
                    </select>
                  </div>
                </div>

                <br>
                         
                <div class="row">
            <div class="col-12 col-md-4"> <label for="name" class="col-form-label ">Product Name:</label></div>
            <div class="col-12 col-md-8">   <input type="text" class="form-control " id="product_name" name="name" ></div>
            </div>
          
            <br>

            <div class="row">
              <div class="col-12 col-md-4">  <label for="price" class="col-form-label">Product Price:</label></div>  
              <div class="col-12 col-md-8"> 
                 <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input type="text" name ="price" class="form-control" aria-label="Amount (to the nearest dollar)">
                  <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                  </div>
                </div>
            </div>    
          </div>    

          <div class="row">
            <div class="col-12 col-md-4">  <label for="quantity" class="col-form-label"> Quantity:</label></div>  
            <div class="col-12 col-md-8"> 
               <div class="input-group mb-3">
               
                <input type="text" name ="quantity" class="form-control" aria-label="Amount ">
              
              </div>
          </div>    
        </div>   
             
            
            <div class="row">
              <div class="col-12 col-md-7"><label for="Color" class="col-form-label">Select Color & Size:</label></div>  
                     
              </div>    
        
              <div class="row">
              <div class="col-12 col-md-4">  <input type="color" class="form-control form-control-color" id="colorInput" value="#563d7c" name="color" title="Choose your color"></div>
              <div class="col-12 col-md-8"> 
                <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect02">Size</label>
                </div>
                <select class="custom-select form-control"  name="size" id="inputGroupSelect02">
                  <option selected>Choose...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
            </div>
              
            <div class="row">
              <div class="col-12 col-md-4"> <label for="formFile" class="col-form-label">   Upload Photo</label></div>
              <div class="col-12 col-md-8">   <input type="file" id="formFile" name="image" class="form-control "></div>
              </div>
          <br>
              
            <div class="row">
              
              <div class="col-12 col-md-4"> <label for="description" class="col-form-label">Description:</label> </div>
              <div class="col-12 col-md-8"> <textarea class="form-control " id="message-text" name ="description"></textarea> </div>                
              </div>
              
              <div class="modal-footer">
           <button type="submit" class="btn btn-primary">Save changes</button>
          </div>

            </div>
            </form>
         
            </div>
                  
          </div>
       </div>
      </div>

  
 
    

  <%- include  ('../partials/_info');  %> 
  <!-- end info_section -->
  <!-- footer section -->
  <%- include  ('../partials/_footer');  %>
 